/* Colores */

$gris: rgb(35,35,40);
$rojo: rgb(254,70,61);
$blanco: rgb(255,255,255);


/* Colores en degradado */

$amarillo-gr: linear-gradient(to right, rgb(255,184,102), rgb(255,239,102));
$turquesa-gr: linear-gradient(to right, rgb(6,214,160), rgb(6,150,160));
$azul-gr: linear-gradient(to right, rgb(17,138,178), rgb(17,206,224));
$rosa-gr: linear-gradient(to right, rgb(239,71,111), rgb(239,175,111));
$obscuro-gr: linear-gradient(to right, rgb(7,59,76), rgb(7,89,76));