/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* INICIO DE LOS ESTILOS PERSONALES */

body {
    background: $blanco;
    font-family: $f-n;
    font-size: 0.75em;
    color: $gris;

}